@model StudentManagementSystemUI.Models.AddStudentViewModel

@{
}

<h1> ADD REGION </h1>
<form method="post">
    <div class="mt-2">
        <label class="form-label">FirstName</label>
        <input type="text" class="form-control" asp-for="FirstName" />
    </div>
    <div class="mt-2">
        <label class="form-label">LastName</label>
        <input type="text" class="form-control" asp-for="LastName" />
    </div>
    <div class="mt-2">
        <label class="form-label">Contact</label>
        <input type="text" class="form-control" asp-for="Contact" />
    </div>
    <div class="mt-2">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" asp-for="Email" />
    </div>    
    <div class="mt-2">
        <button type="submit" class="btn btn-primary"> ADD </button>
    </div>
</form>